

<div class="dashboard-title">
  <h3>My Offers</h3>
  <% @offers.each do |offer| %>
    <%= render "offercard", offer: offer %>
  <% end %>
</div>


<div class="dashboard-title">
  <h3>My bookings</h3>
  <% @bookings.each do |booking| %>
    <%= render "bookingcard", booking: booking %>
  <% end %>
</div>


<div class = "blankline"> </div>
