// Define variables for your color scheme
$primary_text: #001567;
$highligted_text: #00b3ff;
$disabled_text: #626566;

$primary1: #5bc687;
$secondary: #ff2a2a;
$tertiary: #ff9d2a;
$quaternary: #2aff2a;

$primary_dark: #0c122a;
$secondary_dark: #ff2a2a;
$tertiary_dark: #ff9d2a;
$quaternary_dark: #2aff2a;

$primary_bg: #e0eaec;
$secondary_bg: #f6ffff;

$shadow: 0 3px 6px rgba(65, 65, 65, 0.36);
$shadow_dark: 0 3px 6px rgba(0, 0, 0, 0.36);
$shadow_top: 0 -3px 6px rgba(65, 65, 65, 0.16);

$black_gradient: linear-gradient(0deg, rgba(0,0,0,0.50) 30%, rgba(0,0,0,0.45) 46%, rgba(0,0,0,0.40) 67%, rgba(0,0,0,0.31761207901129207) 80%, rgba(0,0,0,0) 100%);


// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$padding-left: 8%;
$padding-right: 8%;
