// Import page-specific CSS files here.
@import "home";

.offergrid {
  grid-area: main;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  background-color: yellow; //$secondary_bg;
  padding-top: 15px;
  grid-row-gap: 15px;
  height: 2000px;
}
