.dashboard-offercard-container {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  height: 10vh;
  display: flex;
}

.dashboard-offer-container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}




.dashboard-img-container {
  overflow: hidden;
}
