<div data-filter-target="profileiconcontainer" class="profileicon-container hiddennav">
  <div class="profile-icon-content">
    <h4><strong>Options</strong></h4>
    <h6><a href="url">My Orders</a></h6>
    <h6><a href="url">Profile Settings</a></h6>
    <h6><a href="url">Log Out</a></h6>
  </div>
</div>

<div class="navbar navbar-expand-sm footnavbar">
  <div class="button-div">
    <button type="button" class="btn btn-transparent">
      <i class="fa-solid fa-home fa-2x"></i>
    </button>
  </div>
  <div class="button-div">
    <button type="button" class="btn btn-transparent">
      <i class="fa-solid fa-map-location-dot fa-2x"></i>
    </button>
  </div>
  <div class="button-div">
    <button type="button" class="btn btn-transparent">
      <i class="fa-sharp fa-solid fa-plus fa-2x"></i>
    </button>
  </div>
  <div class="button-div">
    <button type="button" class="btn btn-transparent">
      <i class="fa-solid fa-message fa-2x"></i>
    </button>
  </div>
  <div class="button-div">
    <button type="button" data-action="click->filter#toggleProfileicon" class="btn btn-transparent">
      <i class="fa-solid fa-user fa-2x"></i>
    </button>
  </div>
</div>
