<div class="navbar">

    <div class="button-div">
      <button type="button" class="btn btn-transparent">
        <i class="fa fa-fw fa-home fa-2x"></i>
      </button>
    </div>
    <div class="button-div">
      <button type="button" class="btn btn-transparent">
        <i class="fa-solid fa-map-location-dot fa-2x"></i>
      </button>
    </div>
    <div class="button-div">
      <button type="button" class="btn btn-transparent">
        <i class="fa-sharp fa-solid fa-plus fa-2x"></i>
      </button>
    </div>
    <div class="button-div">
      <button type="button" class="btn btn-transparent">
        <i class="fa-solid fa-message fa-2x"></i>
      </button>
    </div>
    <div class="button-div">
      <button type="button" class="btn btn-transparent">
        <i class="fa-solid fa-user fa-2x"></i>
      </button>
    </div>
</div>
