<div data-filter-target="profileiconcontainer" class="profileicon-container hiddennav">
  <h1>Ananas...</h1>
</div>

<div class="navbar navbar-expand-sm footnavbar">
  <div class="button-div">
    <button type="button" class="btn btn-transparent">
      <i class="fa-solid fa-home fa-2x"></i>
    </button>
  </div>
  <div class="button-div">
    <button type="button" class="btn btn-transparent">
      <i class="fa-solid fa-map-location-dot fa-2x"></i>
    </button>
  </div>
  <div class="button-div">
    <button type="button" class="btn btn-transparent">
      <i class="fa-sharp fa-solid fa-plus fa-2x"></i>
    </button>
  </div>
  <div class="button-div">
    <button type="button" class="btn btn-transparent">
      <i class="fa-solid fa-message fa-2x"></i>
    </button>
  </div>
  <div class="button-div">
    <button type="button" data-action="click->filter#toggleProfileicon" class="btn btn-transparent">
      <i class="fa-solid fa-user fa-2x"></i>
    </button>
  </div>
</div>
