<div data-filter-target="profileiconcontainer" class="profileicon-container hiddennav">
  <h5><a class="profileicon-container-a" href="#">My Orders</a></h5>
  <h5><a class="profileicon-container-a" href="#">Profile settings</a></h5>
  <% if user_signed_in? %>
    <h6><a class="profileicon-container-a" href="#">Log out</a></h5>
  <% else %>
    <h5><a class="profileicon-container-a" href="#">Log in</a></h5>
  <% end %>
</div>

<div class="navbar navbar-expand-sm footnavbar">
  <div class="button-div">
    <%= link_to root_path, class: "btn btn-transparent" do %>
      <i class="fa-solid fa-home fa-2x"></i>
    <% end %>
  </div>
  <div class="button-div">
    <button type="button" class="btn btn-transparent">
      <i class="fa-solid fa-map-location-dot fa-2x"></i>
    </button>
  </div>
  <div class="button-div">
    <button type="button" class="btn btn-transparent">
      <i class="fa-sharp fa-solid fa-plus fa-2x"></i>
    </button>
  </div>
  <div class="button-div">
    <button type="button" class="btn btn-transparent">
      <i class="fa-solid fa-message fa-2x"></i>
    </button>
  </div>
  <div class="button-div">
    <button type="button" data-action="click->filter#toggleProfileicon" class="btn btn-transparent">
      <i class="fa-solid fa-user fa-2x"></i>
    </button>
  </div>
</div>
