<div class="search-bar-frame" data-controller="supersearchbar">
  <%= form_with url: root_path, method: :get, class: "d-flex search-box" do %>
    <div class="input-group">
      <%= text_field_tag :query,
            params[:query],
            class: "form-control search-form",
            placeholder: "Search...",
            data: {supersearchbar_target: "input"}
        %>
      <div class="search-cancel-button">
        <button  class="btn btn-light" data-supersearchbar-target="button" data-action="click->supersearchbar#clickMe">
          <i class="fa-solid fa-circle-xmark"></i>
        </button>
      </div>
    </div>
    <%= hidden_field_tag :search_submit, "true" %>
  <% end %>
  <div class="dropdown">
    <button type="button" class="btn btn-transparent" >
      <i class="bi bi-sliders" data-action="click->filter#toggleFilter" ></i>
    </button>
  </div>
</div>

<%# IN CASE WE WOULD LIKE TO ACTIVATE THE FILTERS FUNCTIONALITIES WE NEED TO CANCEL OUT ALL THE COMMENTS BELOW AND START CODING FROM THERE%>

<div data-filter-target="filtercontainer" data-action="click->filter-controller#toggleFilter"   class="filter-container hiddennavsearch">
  <div class = "blurring-topfilter" ></div>
  <div class="filters-content">
    <h6>Food Type</h6>
      <div class="checkboxes-container">
        <div class="btn-group btnrounded" role="group" aria-label="Basic radio toggle button group">

          <%# <form action="offers"> %>
            <input type="radio" class="btn-check" name="filter" id="btnradio1" autocomplete="off" checked>
            <%# <input type="hidden" name="filter" id="btnradio1" value="vegan"> %>
            <label class="btn btn-outline-dark" for="btnradio1">Vegan</label>
          <%# </form> %>

          <%# <form action="offers"> %>
            <input type="radio" class="btn-check" name="filter" id="btnradio2" autocomplete="off">
            <%# <input type="hidden" name="filter" id="btnradio1" value="vegetarian"> %>
            <label class="btn btn-outline-dark" for="btnradio2">Vegetarian</label>
          <%# </form> %>

          <%# <form action="offers"> %>
            <input type="radio" class="btn-check" name="filter" id="btnradio3" autocomplete="off">
            <%# <input type="hidden" name="filter" id="btnradio1" value="flexible"> %>
            <label class="btn btn-outline-dark" for="btnradio3">Flexible</label>
          <%# </form> %>
        </div>
      </div>
  </div>

  <div class="filters-content">
    <h6>Pickup time</h6>
      <div class="checkboxes-container">
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">

        <%# <form action="offers"> %>
          <input type="checkbox" class="btn-check" name="filter" id="btncheck1" autocomplete="off">
          <%# <input type="hidden" name="filter" id="btnradio1" value="morning"> %>
          <label class="btn btn-outline-dark" for="btncheck1">Morning</label>
        <%# </form> %>

        <%# <form action="offers"> %>
          <input type="checkbox" class="btn-check" name="filter" id="btncheck2" autocomplete="off">
          <%# <input type="hidden" name="filter" id="btnradio1" value="afternoon"> %>
          <label class="btn btn-outline-dark" for="btncheck2">Afternoon</label>
        <%# </form> %>

        <%# <form action="offers"> %>
          <input type="checkbox" class="btn-check" name="filter" id="btncheck3" autocomplete="off">
          <%# <input type="hidden" name="filter" id="btnradio1" value="evening"> %>
          <label class="btn btn-outline-dark" for="btncheck3">Evening</label>
        <%# </form> %>
        </div>
      </div>
  </div>

  <div class="filters-content">
    <h6>Giver Type</h6>
      <div class="checkboxes-container">
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">

        <%# <form action="offers"> %>
          <input type="checkbox" class="btn-check" name="filter" id="btncheck4" autocomplete="off">
          <%# <input type="hidden" name="filter" id="btnradio1" value="organizations"> %>
          <label class="btn btn-outline-dark" for="btncheck4">Organizations</label>
        <%# </form> %>

        <%# <form action="offers"> %>
          <input type="checkbox" class="btn-check" name="filter" id="btncheck5" autocomplete="off">
          <%# <input type="hidden" name="filter" id="btnradio1" value="users"> %>
          <label class="btn btn-outline-dark" for="btncheck5">Users</label>
        <%# </form> %>
        </div>
      </div>
  </div>

  <div class="filters-content">
    <h6>Distance <span id="output"> 15 km</span></h6>
    <div class="checkboxes-container">
        <h6>1km</h6>
        <div class="slidecontainer">
          <input type="range" min="1" max="30" value="15" class="slider" id="myRange">
        </div>
        <h6>30+km</h6>
    </div>
  </div>


</div>
