<div class="search-bar-frame">
  <%= form_with url: root_path, method: :get, class: "d-flex search-box" do %>
    <%= text_field_tag :query,
          params[:query],
          class: "form-control search-form",
          placeholder: "Search..."
      %>
    <%= submit_tag "Search", name: "", class: "btn btn-light search-btn" %>
    <div class="search-cancel-button">
      <button type="button" class="btn btn-transparent">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </div>
  <% end %>
  <div class="search-bar-filter">
    <button type="button" class="btn btn-transparent">
      <i class="fas fa-filter"></i></i>
    </button>
  </div>
</div>
