<div class="search-bar-frame" data-controller="supersearchbar">
  <%= form_with url: root_path, method: :get, class: "d-flex search-box" do %>
    <div class="input-group">
      <%= text_field_tag :query,
            params[:query],
            class: "form-control search-form",
            placeholder: "Search...",
            data: {supersearchbar_target: "input"}
        %>
      <div class="search-cancel-button">
      <button  class="btn btn-light" data-supersearchbar-target="button" data-action="click->supersearchbar#clickMe">
             <i class="fa-solid fa-circle-xmark"></i>
      </button>
       <%# <%= button_tag(class:"btn btn-primary", wrapper_html: {data: {searchbar_target: "clear", action: "click->searchbar#clearMe"}}) do %>

        <%# end %>
      </div>
    </div>
    <%= submit_tag "Search", name: "", class: "btn btn-light search-btn" %>
  <% end %>
  <div class="dropdown">
    <button type="button" data-action="click->filter#toggleFilter" class="btn btn-transparent">
      <i class="bi bi-sliders"></i>
    </button>
  </div>
</div>

<div data-filter-target="filtercontainer" data-action="click->filter-controller#toggleFilter" class="filter-container hiddennavsearch">

  <div class="filters-content">
    <h6>Food Type</h6>
      <div class="checkboxes-container">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
          <label class="btn btn-outline-dark" for="btnradio1">Vegan</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-dark" for="btnradio2">Vegatarian</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
          <label class="btn btn-outline-dark" for="btnradio3">Flexible</label>
        </div>
      </div>
  </div>

  <div class="filters-content">
    <h6>Pickup time</h6>
      <div class="checkboxes-container">
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
          <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
          <label class="btn btn-outline-success" for="btncheck1">Morning</label>

          <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
          <label class="btn btn-outline-info" for="btncheck2">Afternoon</label>

          <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
          <label class="btn btn-outline-info" for="btncheck3">Evening</label>
        </div>
      </div>
  </div>

  <div class="filters-content">
    <h6>Giver Type</h6>
      <div class="checkboxes-container">
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
          <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
          <label class="btn btn-outline-warning" for="btncheck4">Organizations</label>

          <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
          <label class="btn btn-outline-warning" for="btncheck5">Users</label>
        </div>
      </div>
  </div>

  <div class="filters-content">
    <h6>Distance</h6>
    <div class="checkboxes-container">
        <h6>1km</h6>
        <div class="slidecontainer">
          <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>
        <h6>10+km</h6>
    </div>
  </div>


</div>
