<div
  class="map-index"
  data-controller="map"
  data-map-user-location ="<%= user_location_to_json() %>"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
