<div class="offercard">
  <%# main image display %>
  <div class= "img-container">
    <% if offer.images.attached? %>
      <% offer.images.each do |photo| %>
      <%= cl_image_tag photo.key,
        :gravity => "center",
        :width => [200, 250, 300, 350].sample,
        :height => [200, 250, 300, 350].sample,
        :class => "offercard_image", crop: :fill %>
    <% end %>
    <% else %>
      <h5>PlaceHolder</h5>
    <% end %>
  </div>


  <%# user information %>
  <div class= "info-container">
    <div class= "card-header">
        <div>
          <% if offer.user.profile_picture.attached? %>
              <%= cl_image_tag offer.user.profile_picture.key,
                :gravity => "center",
                :class => "avatar-bordered-tiny",
                crop: :fit %>
              <% else %>
                <img src="https://res.cloudinary.com/dxdyu4tqu/image/upload/v1683908905/profile_pictures/photo-1583795128727-6ec3642408f8.jpg" alt="", class= "avatar-bordered">
              <% end %>
          <span class="username"><%= offer.user.username %></span>
        </div>
        <span class="distance">1.2km</span>
    </div>

    <%# offer information %>
    <div class="card-title">
        <div>
          <% unless offer.bookings %>
          <span class = "offer-reserved"> Reserved <i class="fas fa-times-circle"></i> </span>
          <% else %>
          <span class = "offer-available"> Available <i class="fas fa-check-circle"></i> </span>
          <% end %>
        </div>

      <div>
        <strong><%= link_to truncate(offer.title, length: 50), offer %></strong>
      </div>
    </div>
  </div>

</div>
