<div class="offercard">
  <%# main image display %>
  <div class= "img-container">
    <% if offer.images.attached? %>
      <% offer.images.each do |photo| %>
      <%= cl_image_tag photo.key,
        :gravity => "center",
        :width => 200,
        :height => [180, 200, 220, 250, 280, 310].sample,
        :effect=>"saturation:-25",
        :class => "offercard_image", crop: :fill %>
    <% end %>
    <% else %>
      <h5>PlaceHolder</h5>
    <% end %>
  </div>


  <%# user information %>
  <div class= "info-container">
    <%# offer information %>
    <div class="card-title">
        <div>
          <% if offer.bookings.empty? %>
          <span class = "offer-available"> Available <i class="fas fa-check-circle"></i> </span>
          <% else %>
          <span class = "offer-reserved"> Reserved <i class="fas fa-times-circle"></i> </span>
          <% end %>
        </div>
      <div>
        <strong><%= link_to truncate(offer.title, length: 50), offer %></strong>
      </div>
    </div>

    <%# user information  %>
    <div class= "card-header">
        <div>
          <span class="username">@<%= offer.user.username %></span>
        </div>
        <span class="distance"><%= distance_km(current_user, offer) %>km <i class="bi bi-send"></i></span>
    </div>

  </div>

</div>
