<div class="postcard">
  <div class= "img-container">
    <% if offer.images.attached? %>
      <% offer.images.each do |photo| %>
      <%= cl_image_tag photo.key, :gravity => "center", :class => "img_cl", crop: :fill %>
    <% end %>
    <% else %>
      <h5>PlaceHolder</h5>
    <% end %>
  </div>

  <div class= "card-header">
      <% if offer.user.profile_picture.attached? %>
          <%= cl_image_tag offer.user.profile_picture.key,
            :gravity => "center",
            :class => "avatar-bordered",
            crop: :fit %>
          <% else %>
            <img src="https://res.cloudinary.com/dxdyu4tqu/image/upload/v1683908905/profile_pictures/photo-1583795128727-6ec3642408f8.jpg" alt="", class= "avatar-bordered">
          <% end %>
      <span class="username"><%= offer.user.username %></span>
  </div>

  <div class="card-title">
    <div>
      <h6><strong><%= link_to offer.title, offer %></strong></h6>
      <h6>Distance from user</h6>
    </div>
    <div class="btn-set">
      <button type="button" class="btn btn-dark btn-circle btn-sm"><i class="fa-solid fa-heart icon-detail"></i></button>
      <button type="button" class="btn btn-dark btn-circle btn-sm"><i class="fa-solid fa-comment icon-detail"></i></button>
      <%#= offer.likes.count %> <%#= (offer.likes.count) == 1 ? 'Like' : 'Likes'%>
    </div>
  </div>

  <div class="overlay-container" >
    <div class="overlay-top">
      <div class="overlay-top-left">
        <i class="fa-solid fa-heart"></i>
      </div>
      <div class="overlay-top-right">
        <i class="fa-solid fa-comment"></i>
      </div>
    </div>

    <div class="overlay-bottom">
    </div>

  </div>

</div>
