

<div class="offergrid" style="height: <%= (@offers.count / 2).round * 300 %>px">
  <% @offers.each do |offer| %>
    <%= render "offercard", offer: offer%>
  <% end %>

  <span class="offercard_break"></span>
</div>
