<div class="offergrid">
<% @offers.each do |offer| %>
  <%= render "offercard", offer: offer %>
<% end %>
<span class="offercard_break"></span>
</div>

<%#
  <div class="album py-5" data-controller="visibility">
    <div class="" data-visibility-target="hideable" hidden>
      <%= render "offers/map" %
    </div>

    <div class="grid" data-visibility-target="hideable">
    </div>
  </div>
%>
