
<div class="offergrid" style="height: <%= @offers_active.count / 2 * 260 %>px">
  <% @offers_active.each do |offer| %>
    <%= render "offercard", offer: offer %>
  <% end %>
  <span class="offercard_break"></span>
</div>
