<div
  class="map-show"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="info-container-show">
  <%= render "offers/info_container" %>

  <!-- render bookings/show component if the offer is booked -->

</div>

<div class = "blankline"> </div>
</div>
