$padding-left: 8%;
$padding-right: 8%;


.offer_image {
  background-size: cover;
  background-position: center;
  height: 25vh;
  width: 100%;
  box-shadow: $shadow_top;
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
  padding-top: -17px;
}

.info-container-show{
  z-index: 10;
  font-size: 14px;
  height: 75vh;
}


.user-details{

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  background-color: $secondary_bg;

  padding-left: $padding-left;
  padding-right: $padding-right;

  .geocode{
    display: flex;
  }
}

.head-options{


  .head-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: $padding-left;
    padding-right: $padding-right;
    height: 35px;
  }

  }

  .actionbuttons {
    margin-right: 20px;

    i {
      font-size: 23px;
    }

    .fa-message {
      margin-right: 20px;
    }
}

.action{
  padding-left: $padding-left;
  padding-right: $padding-right;

  i{
    font-size: 30px;
  }
  .button-wrapper{
    width: 25%;
    flex-grow: 1;
  }

  .more-infos{
    display: flex;
    justify-content: space-between;
    width: 100%;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      h6 {
        color: #747474;
        font-size: 12px;
      }
    }
  }
}

.options-card{
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 360px;

    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
}

.text-title {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  flex-grow: 1;
}

.text-description {
  width: 100%;
  font-size: 14px;
  padding-left: $padding-left;
  padding-right: $padding-right;
}

.booking_pick_up_time .form-select {
  width: 92%;
}

.form-food {
  display: flex;
  flex-direction: column;

}

.options-card i {
  font-size: 20px;
}

.icon-form {
  align-items: center;
  justify-content: space-evenly;
}

.username {
  font-size: 14px;
  font-weight: bold;
  margin-left: 8px;
  flex-grow: 1;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
}

.geocode {
  align-items: baseline;
  justify-content: end;
  flex-grow: 2;
}

.blankline {
  height: 70px;
}

#new_booking {
  padding: 5%;
  background-color: white;
  border-radius: 12px;
  box-shadow: $shadow;
}

#booking_pick_up_time {
  border-radius: 10px;
  width: 100%;
}
