.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: $shadow;
  border: white 2px solid;
}

.avatar-show {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: $shadow;
  border: white 3px solid;
  position: relative;
  top: -20px;
}

.avatar-bordered-tiny {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: $shadow;
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow: $shadow;
  border: white 1px solid;
}
