.bookingbutton {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #2D882D;
  border: none;
  color: white;
  margin: 0 auto;
  display: block;

}

.buttonicon {
  font-size: 150px;
}

.bookingbutton2 button {
  display: flex;
      flex: 1;
      margin-right: 10px; /* Adjust the margin as needed */
      height: 60px;
      border-radius: 50%;
      background-color: black;
      border: none;
      color: white;
}
