.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.round {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 110px;
  right: 26px;
}

.auto-resize {
  resize: none;
  overflow-y: hidden;
}

.auto-resize[rows="1"] {
  height: 1.5em; /* Set the initial height for a single row */
}

.auto-resize:not(:focus) {
  height: auto; /* Reset the height when not focused */
}

.sendbox {
  padding: 5px !important;
  justify-content: start;
}

.writebox {
  border-radius: 12px;
  border: 2px solid #e6e3e3;
  width: 80%;
}
