.chatroom {
  background: white;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;

    background: radial-gradient(circle, #fefefe 25%, transparent 26%),radial-gradient(circle at bottom left, #fefefe 12%, transparent 13%),radial-gradient(circle at bottom right, #fefefe 12%, transparent 13%),radial-gradient(circle at top left, #fefefe 12%, transparent 13%),radial-gradient(circle at top right, #fefefe 12%, transparent 13%);
    background-size: 1em 1em;
    background-color: #f0e0f5;
    opacity: 1;
    box-shadow: $shadow_top;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.round {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 110px;
  right: 20px;
}

.auto-resize {
  resize: none;
  overflow-y: hidden;
}

.auto-resize[rows="1"] {
  height: 1.5em; /* Set the initial height for a single row */
}

.auto-resize:not(:focus) {
  height: auto; /* Reset the height when not focused */
}

.sendbox {
  padding-top: 5px !important;
  justify-content: start;
  box-shadow: $shadow_top;
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.writebox {
  border-radius: 12px;
  border: 2px solid #e6e3e3;
  width: 80%;
  margin-bottom: 0px !important;
}

.chatroom-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 8px;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: $shadow;
}
