.footnavbar {
  left: 0;
  bottom: 0;
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 1000;
  background-color: $primary_bg;
  box-shadow: $shadow;
}
.container_fluid {
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: space-between;

}

.navbar a {
  float: left;
  text-align: center;
  padding: 5px;
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.navbar a:hover {
  background-color: #000;
}
