.footnavbar {
  left: 0;
  bottom: 0;
  position: fixed;
  height: 55px;
  width: 100%;
  background-color: $primary_bg;
  // padding: 5px;
  z-index: 1000;
  display: flex;

  flex-direction: row;
  justify-content: space-around;
  box-shadow: $shadow_top;

  a {
    display: inline-block;
    color: black;
    text-decoration: none;
    // font-size: 27px;
    line-height: 57%;
  }

  .navbar-text {
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.footnav-bar-frame {
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  width: 100%;
  display: flex;
  padding: 2px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: var(--dl-color-default-background);
}

.button-div {
  display:flex;
  width: 20%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .button-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-weight: 400;
    font-size: 22px;
  }
}


.button-div .btn-transparent {
  font-size: 27px;
}

.profileicon-container {
  height: 30vh;
  width: 20vh;
  background-color: rgb(247, 247, 152);
  transition: 1s;
  position: absolute;
  bottom: 0;
  right:0;
  padding: 15px;
  border-radius: 10px;
}

.profileicon-container-a {
  display: inline-block;
  color: black;
  text-decoration: none;
}

.hiddennav {
  display: none;
  margin-top: 60px;
}
