.map-index{
  grid-area: main;
  height: 100% !important;
  width: 100% !important;

  .mapboxgl-canvas-container {
      grid-area: main;
      height: 100vh;

  }

  .mapboxgl-canvas {
    left: 0;
  }
}

.map-show{
  height: 25vh;
  width: 100%;
  margin-bottom: -30px;
  position: fixed;
  // z-index: 1;
}
