.messagesender{
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 10px;
  align-items: end;

  .textsender {
    border-radius: 12px;
    border-bottom-right-radius: 0px;
    background-color: #1395ff;
    color: white;
    width: 75%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    margin-right: -14px;
  }
}


.messagereceiver{
  width: 100%;
  display: flex;
  justify-content: start;
  margin-top: 10px;
  align-items: end;


  .textreciever {
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    padding: 8px;
    background-color: #e9e9e9;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-left: -14px;
  }
}
