.searchbar {
  // grid-area: searchbar;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  box-shadow: $shadow_dark;
}

.search-bar-frame {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: center;
  background-color: $primary_bg;
  z-index: 2000;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.search-form {
  border-radius: 30px 0px 0px 30px;
  /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}
/*to cange only one form and not all give unique class name like  class="search-form" */
.search-btn {
  border-radius: 0px 12px 12px 0px;
  cursor:pointer;
}

.search-cancel-button{
  position: relative;
  right: 0;
}

.search-box{
  width: 100%;
}

.filters-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  column-gap: 10px;
}

.filter-container{
  height: auto;
  width: 100vw;
  background-color: $primary_bg;
  // transition: 1s;
  margin-top: 60px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 10px;

    /* Initial state */
  // opacity: 1;
  // transform: translateY(0%);
  pointer-events: auto;
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
  transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: $shadow_dark;
}


.hiddennavsearch{
  /* Final state */
  // display: none;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-30%);
}

.checkboxes-container {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  column-gap: 10px;
}

#query {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}



// slider -------------------------------------------------------------------------------------
.slidecontainer {
  width: 100%; /* Width of the outside container */
}


/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
