$primary_text: #0c122a;
$highligted_text: #0c122a;
$disabled_text: #626566;

$primary: #2ad8ff;
$secondary: #ff2a2a;
$tertiary: #ff9d2a;
$quaternary: #2aff2a;

$primary_dark: #0c122a;
$secondary_dark: #ff2a2a;
$tertiary_dark: #ff9d2a;
$quaternary_dark: #2aff2a;

$primary_bg: #f6f6f6;
$secondary_bg: #c2c2c2;

$shadow: 0 3px 6px rgba(65, 65, 65, 0.16);
$shadow_dark: 0 3px 6px rgba(0, 0, 0, 0.16);
