

.login-title {
  margin-left: 10px;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

.thursday {
  background-color: #2553F8;
  width: 100px;
  margin: 16px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 5px;
}
.login-form {
  margin: 10px;
}
.devise-link {
  margin-left: 16px;
}
